<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css}" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js}"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <style>
        .button > * {
            margin: auto 5px;
        }

        .button {
            display: flex;
            justify-content: right;
        }

        h3 {
            display: flex;
            justify-content: center;
        }

        .table {
            display: none;
        }
    </style>


    <title>首頁</title>
</head>
<body>
<div class="main">
    <article class="block">
        <div>
            <h3>搜尋會員</h3>
        </div>
        <div class="mb-3">
            <input name="Id" type="number" id="floatingID" placeholder="ID" min="1">
            <button id="id_search" type="button" class="btn btn-primary">ID搜尋</button>
        </div>
        <div class="form-floating mb-3">
            <input name="email" type="text" class="form-control" id="floatingEmail" placeholder="name@example.com">
            <label for="floatingEmail" th:text="#{index.email}"></label>
        </div>
        <div class="form-floating mb-3">
            <input name="name" type="text" class="form-control" id="floatingName" placeholder="name@example.com">
            <label for="floatingName" th:text="#{index.name}"></label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="gender_radio" value="Male" id="gender_radio_male">
            <label class="form-check-label" for="gender_radio_male" th:text="#{index.gender.male}"></label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="gender_radio" value="Female" id="gender_radio_female"
                   checked>
            <label class="form-check-label" for="gender_radio_female" th:text="#{index.gender.female}"></label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="gender_radio" id="gender_radio_all" value="All">
            <label class="form-check-label" for="gender_radio_all">All</label>
        </div>
        <div class="button">
            <button id="submit" type="button" class="btn btn-primary" th:text="#{index.search}"></button>
            <button id="clear" type="button" class="btn btn-primary" th:text="#{login.clear}"></button>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col" th:text="#{index.id}"></th>
                <th scope="col" th:text="#{index.name}"></th>
                <th scope="col" th:text="#{index.email}"></th>
                <th scope="col" th:text="#{index.gender}"></th>
                <th scope="col" th:text="#{index.birthday}"></th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>


    </article>
</div>
<script>
    const url_member = 'http://localhost:8080/index/members';
    const id = document.getElementById("floatingID");
    const idSearch = document.getElementById("id_search");
    const email = document.getElementById("floatingEmail");
    const name = document.getElementById("floatingName");
    const gender = document.getElementsByName("gender_radio");
    const submit = document.getElementById("submit");
    const table = document.getElementsByClassName("table")[0];

    function getAll() {
        const url = url_member + "/all"
        fetch(url).then((response) => {
            return response.json();
        }).then((data) => {
            console.log(data);
            const tbody = document.querySelector(".table tbody");

            for (const member of data) {
                tbody.innerHTML +=
                    '<tr>' +
                    '<td>' + member.id + '</td>' +
                    '<td>' + member.name + '</td>' +
                    '<td>' + member.email + '</td>' +
                    '<td>' + member.gender + '</td>' +
                    '<td>' + member.birthday + '</td>' +
                    '</tr>'
            }
        }).catch((error) => {
            console.log(error);
        })
    }

    function getOne(id) {
        const url = url_member + '/' + id
        fetch(url).then((response) => {
            return response.json();
        }).then((data) => {
            console.log(data)
            const tbody = document.querySelector(".table tbody");
            const member = data
            tbody.innerHTML +=
                '<tr>' +
                '<td>' + member.id + '</td>' +
                '<td>' + member.name + '</td>' +
                '<td>' + member.email + '</td>' +
                '<td>' + member.gender + '</td>' +
                '<td>' + member.birthday + '</td>' +
                '</tr>'

        }).catch((error) => {
            console.log(error);
        })
    }

    function getSome(name, email, gender) {
        const url = url_member + '?name=' + name + '&email=' + email + '&gender=' + gender;
        fetch(url).then((response) => {
            return response.json();
        }).then((data) => {
            console.log(data);
            const tbody = document.querySelector(".table tbody");
            for (const member of data) {
                tbody.innerHTML +=
                    '<tr>' +
                    '<td>' + member.id + '</td>' +
                    '<td>' + member.name + '</td>' +
                    '<td>' + member.email + '</td>' +
                    '<td>' + member.gender + '</td>' +
                    '<td>' + member.birthday + '</td>' +
                    '</tr>'
            }
        }).catch((error) => {
            console.log(error);
        })
    }


    submit.addEventListener('click', function (e) {
        table.style.display = "block";
        const tr = document.querySelectorAll(".table tbody tr");
        for (const t of tr) {
            t.remove();
        }
        const emailStr = email.value.trim();
        const nameStr = name.value.trim();
        let genderValue;
        if (gender[0].checked) {
            genderValue = gender[0].value;
        } else if (gender[1].checked) {
            genderValue = gender[1].value;
        }

        if (emailStr == '' && nameStr == '' && gender[2].checked) {
            getAll();
        } else {
            getSome(nameStr, emailStr, genderValue)
        }
    }, false);

    idSearch.addEventListener('click', function (e) {
        table.style.display = "block";
        const tr = document.querySelectorAll(".table tbody tr");
        for (const t of tr) {
            t.remove();
        }
        const memberId = id.value.trim();
        if (memberId != '') {
            getOne(memberId);
        }
    }, false);


</script>
</body>
</html>